.gradle/8.10/checksums/checksums.lock
.gradle/8.10/checksums/md5-checksums.bin
.gradle/8.10/checksums/sha1-checksums.bin
.gradle/8.10/executionHistory/executionHistory.bin
.gradle/8.10/executionHistory/executionHistory.lock
.gradle/8.10/fileHashes/fileHashes.bin
.gradle/8.10/fileHashes/fileHashes.lock
.gradle/8.10/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/cache/icons.json
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryInventory$loadPage$$inlined$sortedBy$1.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryInventory.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryListener.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryMainInventory.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestPlusIntegration.class
build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
build/kotlin/compileKotlin/cacheable/last-build.bin
build/libs/QuestCodexExtension-0.2.0.jar
build/libs/QuestCodexExtension.jar
.gradle/8.10/checksums/checksums.lock
.gradle/8.10/checksums/md5-checksums.bin
.gradle/8.10/checksums/sha1-checksums.bin
.gradle/8.10/executionHistory/executionHistory.bin
.gradle/8.10/executionHistory/executionHistory.lock
.gradle/8.10/fileHashes/fileHashes.bin
.gradle/8.10/fileHashes/fileHashes.lock
.gradle/8.10/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/cache/icons.json
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryInventory.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryListener.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryMainInventory.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestPlusIntegration.class
build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
build/kotlin/compileKotlin/cacheable/last-build.bin
build/libs/QuestCodexExtension-0.2.0.jar
.gradle/8.10/checksums/checksums.lock
.gradle/8.10/checksums/md5-checksums.bin
.gradle/8.10/checksums/sha1-checksums.bin
.gradle/8.10/executionHistory/executionHistory.bin
.gradle/8.10/executionHistory/executionHistory.lock
.gradle/8.10/fileHashes/fileHashes.bin
.gradle/8.10/fileHashes/fileHashes.lock
.gradle/8.10/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/cache/icons.json
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryInventory.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryListener.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryMainInventory.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestPlusIntegration.class
build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
build/kotlin/compileKotlin/cacheable/last-build.bin
build/libs/QuestCodexExtension-0.2.0.jar
.gradle/8.10/checksums/checksums.lock
.gradle/8.10/checksums/md5-checksums.bin
.gradle/8.10/checksums/sha1-checksums.bin
.gradle/8.10/executionHistory/executionHistory.bin
.gradle/8.10/executionHistory/executionHistory.lock
.gradle/8.10/fileHashes/fileHashes.bin
.gradle/8.10/fileHashes/fileHashes.lock
.gradle/8.10/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/cache/icons.json
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryInventory.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryListener.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestCategoryMainInventory.class
build/classes/kotlin/main/btc/renaud/questcodex/QuestPlusIntegration.class
build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
build/kotlin/compileKotlin/cacheable/last-build.bin
build/libs/QuestCodexExtension-0.2.0.jar
